.add-animal-form {
    max-width: 600px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
     .MuiTextField-root {
        margin-bottom: 10px;
        flex-basis: 100%;

        &.add-animal-field {
            flex-basis: 48%;
        }
     }
  
    h2 {
        flex-basis: 100%;
        text-align: center;
    }
  
    .add-animal-submit {
      flex-basis: 100%;
      margin: 8px 0;
    }
  }
  