#main-navigation {
  position: fixed;
  flex-grow: 1;

  #mobile-navigation {
    display: none;
  }

  #desktop-navigation {
    display: block;
  }

  .menu-button {
    margin-right: 16px;
    color: inherit;
    margin-left: -12px;
    display: none;
  }

  .navigation-logo {
    max-height: 48px;
    margin-right: 10px;
    cursor: pointer;
  }

  .title-navigation {
    flex-grow: 1;
    text-align: left;
    font-family: "Fredoka One", cursive;
    font-weight: 400;
    color: rgba(1,142,171,255);
    cursor: pointer;
  }

  a:not(.menu-button) {
    padding: 0 20px;
    height: 64px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #main-navigation {
    #mobile-navigation {
      display: flex;
      flex-direction: column;
      a {
        height: 48px;
      }
    }

    #desktop-navigation {
      display: none;
    }

    .menu-button {
      display: inline-flex;
    }

    .navigation-logo {
      position: absolute;
      right: 90px;
    }

    .title-navigation {
      position: absolute;
      right: 15px;
      max-width: 100px;
    }
  }
}
