.animals-list-card {
  flex-basis: 24%;
  margin-bottom: 15px;
  height: 240px;
}

.animals-list-card-image {
  height: 140px;
}

@media only screen and (max-width: 768px) {
  .animals-list-card {
    flex-basis: 47%;
  }
}

@media only screen and (max-width: 481px) {
  .animals-list-card {
    flex-basis: 100%;
  }
}
