$heightContainers: 280px;

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  min-height: $heightContainers;

  .form {
    flex-grow: 2;
    max-width: 600px;

    .MuiTextField-root {
      margin: 8px;
      width: 97%;
      margin-bottom: 35px;
    }

    h2 {
      text-align: center;
      margin-bottom: 5px;
    }

    .login-password {
      width: 97%;
      margin: 8px;
      margin-bottom: "35px";
    }

    .login-submit {
      width: 97%;
      margin: 8px;
    }

    .register-redirect {
      display: block;
      width: 100%;
      cursor: pointer;
      color: #3f51b5;
      text-align: center;
    }
  }

  .third-party-logins {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: $heightContainers;
    margin-left: 30px;
    max-width: 64px;

    img {
      cursor: pointer;
      max-width: 48px;
      margin-top: 48px;
    }
  }
}


@media screen and (max-width: 768px) {
  .login {
    .third-party-logins {
      flex-direction: row;
      min-height: 64px;
      max-width: $heightContainers;
      margin-left: 0;

      img {
        margin: 38px;
      }
    }
  }
}